body {
    margin: 0;
    /*     background-color: black;
 */
 width: 100%;
 height: 100%;
 background-size: cover; /* 画像を要素全体に広げる */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    background-image: url(../img/bg1.jpg);
}

/*================　リセット　==================*/
p {
    margin: 0px;
    padding: 0px;
}

/*=============     ヘッダー      =================*/
.header {
    display: flex;
    height: 60px;
    position: relative;
    margin-top: 25px
}

.logo {
    width: 20%;
    background-color: aqua;
    text-align: center;
}

.title {
    width: 60%;
    /* background-color: blue; */
    text-align: center;
}

.title h1 {
    text-align: center;
    color: #FFF;
    color: gold;
}

.ab {
    width: 20%;
    /* background-color: aqua; */
    text-align: center;
}

.ab p {
    color: gold;
    position: absolute;
    margin: 0;
    top: 5px;
    right: 10px;
}

/*============================     メイン      ==================================*/
.main {
    margin-top: 30px;
    display: flex;
    /* justify-content: center; */
    /* height: 855px; */
}

.left-box {
    width: 48%;
    padding-left: 0px;
}

.left-wrap {
    margin: 0;
    padding-left: 50px;
}

.middle-box {
    width: 4%;
    /* background-color: bisque; */
    position: relative;
}

.main .middle-box::after {
    position: absolute;
    top: 0;
    left: 50%;
    /* margin: 0 1rem; */
    content: "";
    width: 3px;
    height: 100%;
    background-color: #FFF;
}

.right-box {
    width: 48%;
    /* margin-left: 25px; */
    margin: 0 auto;
}

.right-wrap {
    margin: 0;
    padding-left: 30px;
}




/* .main .left-box::after {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #FFF;
} */

/*======================     目次      ===============================*/
.index {
    /* background-color: rgb(0, 255, 76); */
    width: 500px;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
}

.index p {
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-family: fantasy;
}

.rank-index {
    width: 10%;
}

.team-index {
    margin-left: 20px;
    width: 35%;
}

.img-index {
    width: 35%;
}

.kill-index {
    width: 10%;
}

.total-index {
    width: 10%;
}

/*=======================     1位~3位      =========================*/
.big-box {
    /* background-color: rgb(0, 255, 76); */
    width: 500px;
    height: 68px;
    display: flex;
    margin-bottom: 15px;
    /* 初期状態では非表示 */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.big-box .rank-area::after {
    position: absolute;
    top: 0;
    left: 95%;
    /* margin: 0 1rem; */
    content: "";
    width: 3px;
    height: 75%;
    margin-top: 0.45rem;
    background-color: #FFF;
}

.rank-area {
    width: 10%;
    position: relative;
}

.rank-box {
    background-color: gold;
    width: 70%;
    height: 70%;
    margin: 7px;
}

.rank-box p {
    margin: 0;
    text-align: center;
    height: 47.6px;
    line-height: 47.6px;
}


.team-area {
    /* background-color: rgba(255, 0, 255, 0.628); */
    width: 35%;
    color: #FFF;
}

.team-area p {
    color: #FFF;
    padding-left: 25px;
    height: 68px;
    line-height: 68px;
}

.img-area {
    background-color: rgb(187, 0, 255);
    width: 35%;
}

.img-box {}

.kill-area {
    /* background-color: rgb(255, 247, 0); */
    width: 10%;
}

.kill-area p {
    text-align: center;
    height: 68px;
    line-height: 68px;
    font-family: fantasy;
    color: #FFF;
}

.total-area {
    /* background-color: rgb(0, 115, 255); */
    width: 10%;
}

.total-area p {
    text-align: center;
    height: 68px;
    line-height: 68px;
    font-family: fantasy;
    color: #FFF;
}

/*=======================    4位~20位      =========================*/
.mini-box {
    /* background-color: rgb(0, 255, 76); */
    width: 500px;
    height: 35px;
    display: flex;
    margin-bottom: 15px;
    /* 初期状態では非表示 */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* アニメーションを適用するクラスを追加 */
.animate {
    opacity: 1;
    transform: translateY(0);
}

.mini-box .mini-rank-area::after {
    position: absolute;
    top: 0;
    left: 95%;
    /* margin: 0 1rem; */
    content: "";
    width: 3px;
    height: 75%;
    margin-top: 0.45rem;
    background-color: #FFF;
}

.mini-rank-area {
    width: 10%;
    position: relative;
}

.mini-rank-box {
    background-color: gold;
    width: 70%;
    height: 70%;
    margin: 7px;
}

.mini-rank-box p {
    margin: 0;
    text-align: center;
    height: 24.5px;
    line-height: 24.5px;
}


.mini-team-area {
    /* background-color: rgba(255, 0, 255, 0.628); */
    width: 35%;
    color: #FFF;
}

.mini-team-area p {
    color: #FFF;
    padding-left: 25px;
    height: 38px;
    line-height: 38px;
}

.mini-img-area {
    background-color: rgb(187, 0, 255);
    width: 35%;
}

.mini-img-box {}

.mini-kill-area {
    /* background-color: rgb(255, 247, 0); */
    width: 10%;
}

.mini-kill-area p {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-family: fantasy;
    color: #FFF;
}

.mini-total-area {
    /* background-color: rgb(0, 115, 255); */
    width: 10%;
}

.mini-total-area p {
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-family: fantasy;
    color: #FFF;
}