* {
    position: relative;
    box-sizing: border-box;
}

#slots_a,
#slots_b,
#slots_c {
    position: relative;
    float: left;
    width: 110px;
    height: auto;
    height: 208px;
    /* background-color: green; */
    /* border: 2px palegoldenrod outset; */
    overflow: hidden;
}

#slots_a .wrapper,
#slots_b .wrapper,
#slots_c .wrapper {
    position: absolute;
    width: 0px;
}

#slots_a .wrapper .slot,
#slots_b .wrapper .slot,
#slots_c .wrapper .slot {
    width: 105px;
    height: 70px;
    text-align: center;
    padding-top: 2px;
}
#slotbox {
    /* background-color: #5bff15; */
    border-radius: 5px;
    width: 350px;
    padding: 6px;
    /* ここでスロットの位置決めている */
    margin-left: 25px;
}

/* 動画用のCSS */
.iframeWrap {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}


/* 修正：iframeの幅と高さを指定 */
iframe {
    position: absolute;
    width: 50vw;
    height: 100vh;
    /* スロットの表示領域の高さ */
    max-height: 300px;
}

/* 設定画面用のcss */
#setting {
    position: absolute;
    display: none; /* 最初は非表示にする */
    background-color: rgb(176, 176, 176);
    top: 300px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 450px;
    height: 250px;
}

#overlay-button {
    position: absolute;
    /* 絶対位置 */
    top: 0;
    left: 0;
    width: 450px;
    /* 画面の幅いっぱいに拡大 */
    height: 250px;
    background-color: transparent; /*景を透明にする*/
    /* TODO: 最終的に透明にする */
    /* background-color: rgba(0, 128, 0, 0.3); 透明度を30%に設定 */
    cursor: pointer;
    /* マウスを乗せた際にカーソルをポインターに変更 */
}
