.bell {
    position: absolute;
    /*下にくる */
    width: 450px;
    height: 200px;
    margin-top: 0px;
    background-color: aqua;
}

.topPage {
    position: relative;
    /*上にくる */
    margin-left: 150px;
    margin-top: 0px;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

.intro-title {
    font-size: 72px;
    color: rgb(49, 237, 11);
    text-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: normal !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
}


/* ハンバーガーメニュー表示CSS */

.hum {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.openbtn1 {
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100vh;
    background: #999;
    transition: all 0.6s;
}

#menu.panelactive {
    left: 0;
}

#menu.panelactive #menu-list {
    position: fixed;
    z-index: 1;
    width: 30%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#menu ul {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu li {
    list-style: none;
    text-align: center;
}

#menu li a {
    color: #383838;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

#menu li a:hover {
    color: #ff0000;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.openbtn1 {
    margin: 0;
    position: fixed;
    z-index: 9999;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

p {
    margin-top: 20px;
}

small {
    color: #fff;
    display: block;
    text-align: center;
}

#header {
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 100px 30px;
}

section:nth-child(2n) {
    background: #f3f3f3;
}

#footer {
    background: #333;
    padding: 20px;
}