.logo-area{
    height: 70px;
    /* background-color: #2589d0; */
}
.logo img{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    /* background-color: aqua; */
    text-align: left;
    margin-left: 25px;
    height: 70px;
}

.icon {
    width: 100%;
    margin-left: 0;
}.btn-flex {
    display: flex;
}

.btn-box {
    margin-right: 20px;
}

/* ======================   ボタン-デザイン  ============================== */
.button-051 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 160px;
    margin: 0 auto;
    padding: .6em 2em;
    border: none;
    border-bottom: 2px solid #e6edf3;
    background-color: transparent;
    color: #333;
    font-weight: 600;
    font-size: 1em;
}

.button-051::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    width: 100%;
    height: 2px;
    background-color: #2589d0;
    content: '';
    transition: transform .3s ease;
}

.button-051:hover::after {
    transform: scaleX(1);
}
/* =========================    タブ-デザイン    ================================= */

.tab-001 {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
}

.tab-001>label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .55em 1em .35em;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
    background-color: #e9f0f6;
    color: #535353;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}

.tab-001>label:hover {
    opacity: .8;
}

.tab-001 input {
    display: none;
}

.tab-001>div {
    display: none;
    width: 100%;
    padding: 0em 1em 1em 1em;
    background-color: #fff;
}

.tab-001 label:has(:checked) {
    background-color: #fff;
    border-color: #2589d0 #f0f0f0 #fff;
    border-style: solid;
    border-width: 4px 1px 1px;
    border-radius: 5px;
    color: #333333;
}

.tab-001 label:has(:checked)+div {
    display: block;
}