html {
    width: 100%;
    height: 100%;
    background-size: cover;
    /* 画像を要素全体に広げる */
    background-position: center;
    /* 画像を中央に配置 */
    background-repeat: no-repeat;
    /* 画像の繰り返しを無効にする */
    background-image: url(../Papex/img/bg1.jpg);
}

body {
    margin: 0px;
}


/*================　リセット　==================*/

p {
    margin: 0px;
    padding: 0px;
}


/*=============     ヘッダー      =================*/

.header {
    display: flex;
    /* background-color: blueviolet; */
    height: 12%;
    position: relative;
    margin-top: 1.5%;
}

.logo {
    width: 33.3%;
    /* background-color: aqua; */
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 2%; */
}

.icon {
    width: 55%;
    margin-left: 5%;
}

.title {
    width: 33.4%;
    /* background-color: blue; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* margin-left: -2%; */
}

.title h1 {
    text-align: center;
    color: #FFF;
    color: gold;
}

.ab {
    width: 33.3%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ab p {
    color: gold;
    position: absolute;
    margin: 0;
    top: 20%;
    right: 2%;
}


/*============================     メイン      ==================================*/

.main {
    /* background-color: greenyellow; */
    margin-top: 1%;
    display: flex;
    /* justify-content: center; */
    height: 80%;
}

.left-box {
    /* background-color: aqua; */
    width: 48%;
    padding-left: 0px;
}

.left-wrap {
    margin: 0;
    padding-left: 50px;
}

.middle-box {
    width: 4%;
    /* background-color: bisque; */
    position: relative;
}

.main .middle-box::after {
    position: absolute;
    top: 0;
    left: 50%;
    /* margin: 0 1rem; */
    content: "";
    width: 3px;
    height: 100%;
    background-color: #FFF;
}

.right-box {
    /* background-color: aqua; */
    width: 48%;
    /* margin-left: 25px; */
    margin: 0 auto;
}

.right-wrap {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}


/* .main .left-box::after {
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 1rem;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #FFF;
} */


/*======================     目次      ===============================*/

.index {
    /* background-color: rgb(0, 255, 76); */
    width: 95%;
    height: 4%;
    display: flex;
    margin-bottom: 2.5vh;
}

.index p {
    /* background-color: aqua; */
    text-align: center;
    /* height: 100%; */
    /* line-height: 30px; */
    color: #FFF;
    font-family: fantasy;
}

.rank-index {
    width: 10%;
}

.team-index {
    margin-left: 2%;
    width: 25%;
}

.img-index {
    width: 40%;
}

.kill-index {
    width: 11%;
}

.total-index {
    width: 11%;
}


/*=======================     1位~3位      =========================*/

.big-box {
    /* background-color: rgb(0, 255, 76); */
    width: 95%;
    height: 14%;
    display: flex;
    margin-bottom: 4.5vh;
    /* 初期状態では非表示 */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.big-box .rank-area::after {
    position: absolute;
    top: 0;
    left: 95%;
    /* margin: 0 1rem; */
    content: "";
    width: 3px;
    height: 90%;
    margin-top: 5%;
    background-color: #FFF;
}

.rank-area {
    width: 10%;
    position: relative;
}

.rank-box {
    background-color: gold;
    width: 70%;
    height: 85%;
    margin: 5%;
}

.rank-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* text-align: center; */
    height: 100%;
    /* line-height: 5; */
}

.team-area {
    /* background-color: rgba(255, 0, 255, 0.628); */
    width: 30%;
    color: #FFF;
}

.team-area p {
    display: flex;
    align-items: center;
    color: #FFF;
    /* background-color: black; */
    padding-left: 7%;
    height: 100%;
    line-height: 5.5;
}

.img-area {
    display: flex;
    align-items: center;
    /* background-color: rgb(187, 0, 255); */
    width: 38%;
}

.img-box {
    /* background-color: rgb(255, 247, 0); */
    width: 100%;
    height: auto;
    margin: 1%;
    aspect-ratio: 1/1
}

.img-box img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.kill-area {
    /* background-color: rgb(255, 247, 0); */
    width: 12%;
}

.kill-area p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* line-height: 5.5; */
    /* font-family: fantasy; */
    color: #FFF;
}

.total-area {
    /* background-color: rgb(0, 115, 255); */
    width: 12%;
}

.total-area p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* line-height: 5.5; */
    /* font-family: fantasy; */
    color: #FFF;
}


/*=======================    4位~20位      =========================*/

.mini-box {
    /* background-color: rgb(0, 255, 76); */
    width: 95%;
    height: 9.3%;
    display: flex;
    margin-bottom: 2vh;
    /* 初期状態では非表示 */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


/* アニメーションを適用するクラスを追加 */

.animate {
    opacity: 1;
    transform: translateY(0);
}

.mini-box .mini-rank-area::after {
    position: absolute;
    top: 0;
    left: 95%;
    /* margin: 0 1rem; */
    content: "";
    width: 3px;
    height: 90%;
    margin-top: 5%;
    background-color: #FFF;
}

.mini-rank-area {
    width: 10%;
    position: relative;
}

.mini-rank-box {
    background-color: gold;
    width: 70%;
    height: 85%;
    margin: 5%;
}

.mini-rank-box p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    line-height: 3;
}

.mini-team-area {
    /* background-color: rgba(255, 0, 255, 0.628); */
    width: 30%;
    color: #FFF;
}

.mini-team-area p {
    display: flex;
    align-items: center;
    color: #FFF;
    /* background-color: black; */
    padding-left: 7%;
    height: 100%;
    line-height: 4;
}

.mini-img-area {
    display: flex;
    align-items: center;
    /* background-color: rgb(187, 0, 255); */
    width: 38%;
}

.mini-img-box {
    /* background-color: rgb(255, 247, 0); */
    width: 20%;
    height: auto;
    margin: 1%;
    aspect-ratio: 1/1
}

.mini-img-box img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.mini-kill-area {
    /* background-color: rgb(255, 247, 0); */
    width: 12%;
}

.mini-kill-area p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* line-height: 4; */
    /* font-family: fantasy; */
    color: #FFF;
}

.mini-total-area {
    /* background-color: rgb(0, 115, 255); */
    width: 12%;
}

.mini-total-area p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* line-height: 4; */
    /* font-family: fantasy; */
    color: #FFF;
}